.home-container {
  padding: 20px 10px 100px;

  display: flex;
  flex-direction: column;
  gap: 21px;
}

.home-content-top {
  display: flex;
  flex-direction: column-reverse;

  border-radius: 10px;
  background: #00285f;

  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);

  padding: 62px 21px 51px;
}

.home-content-top-description h1,
.home-content-top-description p {
  color: #fff;
  text-align: center;
}
.home-content-top-description h1 {
  font-size: 20px;
  font-weight: 700;
}
.home-content-top-description p {
  font-size: 14px;
  line-height: normal;
  margin-top: 13px;
}
.home-content-image {
  margin: 0 auto;
}
.home-content-image img {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

/****style bottom content*/
.home-content-bottom {
  border-radius: 10px;
  background: #ededed;

  display: flex;
  flex-direction: column;
  gap: 9px;

  padding: 30px 50px 25px;
}
.home-content-bottom p {
  color: #585858;

  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 199px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 30px 20px 100px;
  }
  .home-content-bottom {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .home-content-bottom p {
    margin: 0;
  }

  .home-content-image img {
    width: 333px;
    height: auto;
  }

  .home-content-top-description h1 {
    font-size: 36px;
  }
  .home-content-top-description p {
    font-size: 18px;
    width: 420px;
    margin: 0 auto;
    padding-top: 13px;
  }
}
@media (min-width: 768px) {
  .home-content-bottom {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;

    padding-left: 85px;
  }
}

@media (min-width: 1200px) {
  .home-content-image img {
    width: 455px;
    height: auto;
  }
}

@media (min-width: 1400px) {
  .home-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .home-content-top {
    flex-direction: row;
    align-items: center;
    padding: 75px;
    gap: 60px;
  }
  .home-content-image img {
    width: 333px;
  }
  .home-content-top-description p {
    text-align: left;
  }
}
