.btn-buy button {
  border: 0;
  padding: 12px 80px;

  width: 100%;

  background: #00285f;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-transform: uppercase;
}

/* @media (min-width: 576px) {
  .btn-search button {
    border: 0;
    padding: 12px 60px;
  }
} */
